<div class="repo-header">
  <h1>
    {{fa-icon icon="book"}}
    <span class="user"><a href="#TODO">{{model.owner.login}}</a></span>
    /
    <span class="repo"><a href="#TODO">{{model.name}}</a></span>
  </h1>
</div>

<ul class="repo-issues">
  <li>
    {{fa-icon icon="bug"}}
    <div class="comments">{{fa-icon icon="comment-o"}} 10</div>
    <h3><a href="#TODO">Splat operator</a></h3>
    <p class="details">
      #1050 opened 2015-10-18T05:05:04Z by <a href="#TODO">mixonic</a>
    </p>
  </li>
</ul>

{{outlet}}