<div>
  <div class="user-header">
    <img class="avatar" height="120" src=
    "{{model.avatar_url}}&s=240" width="120">
    <h1>{{model.name}}</h1>
    <ul class="user-details">
      {{#if model.company}}
        <li>
          {{fa-icon icon="briefcase"}}
          {{model.company}}
        </li>
      {{/if}}

      {{#if model.location}}
        <li>
          {{fa-icon icon="globe"}}
          {{model.location}}
        </li>
      {{/if}}

      {{#if model.blog}}
        <li>
          {{fa-icon icon="link"}}
          <a href="{{model.blog}}" target="_blank">{{model.blog}}</a>
        </li>
      {{/if}}
    </ul>
    <ul class="user-tabs">
      <li class="active">{{fa-icon icon="book"}} Repositories <span class="badge">{{model.public_repos}}</span></li>
    </ul>
  </div>
  <ul class="user-repos">
    {{#each model.repos as |repo|}}
    <li>
      <ul class="repo-info">
        <li>CSS</li>
        <li><i class="fa fa-star"></i> 151</li>
        <li><i class="fa fa-code-fork"></i> 415</li>
        <li><i class="fa fa-bug"></i> 29</li>
      </ul>
      <h3><a href="#TODO">{{repo.name}}</a></h3>
      {{#if repo.description}}
        <p class="description">The source for {{repo.description}}</p>
      {{/if}}
      <p class="updated">Updated 2015-10-27T20:09:06Z</p>
    </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
