<div>
  <div class="user-header">
    <img class="avatar" height="120" src=
    "{{model.avatar_url}}&s=240" width="120">
    <h1>{{model.name}}</h1>
    <ul class="user-details">
      {{#if model.company}}
        <li>
          {{fa-icon icon="briefcase"}}
          {{model.company}}
        </li>
      {{/if}}

      {{#if model.location}}
        <li>
          {{fa-icon icon="globe"}}
          {{model.location}}
        </li>
      {{/if}}

      {{#if model.blog}}
        <li>
          {{fa-icon icon="link"}}
          <a href="{{model.blog}}" target="_blank">{{model.blog}}</a>
        </li>
      {{/if}}
    </ul>
    <ul class="user-tabs">
      <li class="active">{{fa-icon icon="book"}} Repositories <span class="badge">{{model.public_repos}}</span></li>
    </ul>
  </div>
  {{outlet}}
</div>
